<div class="movie-genre">
    <ul class="movie-genre__list">
        <% for (const genre of uniqueGenre) { %>
            <li class="list__genre"><a href="/genre/<%= genre %>"><%= genre %><a></li>
            <% if (uniqueGenre.indexOf(genre) < (uniqueGenre.length - 1)) { %>
                <span class="genre-separator"></span>
            <% } %>
        <% } %>
    </ul>
</div>