<div id="movie-genre">
    <ul id="movie-genre__list">
        <% for (const genre of distinctGenre) { %>
            <li class="list__genre"><a href="/genre/<%= genre.genre_name %>"><%= genre.genre_name %><a></li>
            <!-- add a vertical separator between each genre up to the penultimate one -->
            <% if (distinctGenre.indexOf(genre) < (distinctGenre.length - 1)) { %>
                <span class="genre-separator"></span>
            <% } %>
        <% } %>
    </ul>
</div>