<%- include('./partials/sections/header') %> 

<h3 class="search-title">Results for "<%= searchQuery %>"</h3>
<!-- if no results we display the error message -->
<% if (err !== undefined) { %> 
    <p>No movies found</p>
<% } %> 

<div class="movie-list">
    <% for(movie of searchMatch) { %>
        <%- include('./partials/view-sections/movie-classic') %> 
    <% } %>
</div>

<%- include('./partials/sections/footer') %> 