#container {
    position: relative;
}

.inputs {
    height: 15vh;
    background-color: #3148AD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    position: relative;
    height: calc(100vh - 15vh);
}

.board {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5B58CB;
}

.pixel {
    border: solid 2px #9ea1a3;
    background-color: #D2DAE2;
}


/* COLORS */
.colors {
    position: absolute;
    display: flex;
    background-color: #4A45A3;
    padding: 1em;
    bottom: 0;
    right: 0;
}

.colors__color {
    width: 2em;
    height: 2em;
    border: solid 1px black;
    border-radius: 50%;
    margin: 0 0.3em; 
}

.color-1 {
    background-color: #D2DAE2;
}

.color-2 {
    background-color: #485460;    
}

.color-3 {
    background-color: #FBC048;    
}

.color-4 {
    background-color: #79EA83;    
}