<%- include('./partials/sections/header') %> 

<form class="search" method="GET" action="/search">
    <input id="search" type="text" name="q">
    <button type="submit">Search</button>
</form>

<%- include('./partials/sections/footer') %> 