<%- include('./partials/sections/header') %> 

<form class="search" method="GET" action="/search">
    <input id="search" type="text" name="q">
    <button type="submit">Search</button>
</form>

<div class="movie-genre">
    <ul class="movie-genre__list">
        <% for (const genre of uniqueGenre) { %>
            <li class="list__genre"><a href="/genre/<%= genre %>"><%= genre %><a></li>
            <% if (uniqueGenre.indexOf(genre) < (uniqueGenre.length - 1)) { %>
                <span class="genre-separator"></span>
            <% } %>
        <% } %>
    </ul>
</div>

<main class="main-home">
    <div class="cine-carousel">
        In theater movies caroussel
    </div>
    <div class="cine-soon">
        Soon in theater
    </div>
</main>

<%- include('./partials/sections/footer') %> 